body {
   color: #333333;
}

h1 {
   color: #666666
}

.navbar h1 {
    color: #666666 !important;
}

a, a:hover {
    color: #eb606e !important;
    font-weight: bold !important;
}

a.tag {
   background-color: #d7f1bf;
   color: #666666 !important;
}

a.tag:hover {
   background-color: #b0e7be;
   color: #666666 !important;
}
   
.content {
    max-width: 900px;
    margin: 100px 50px 50px 80px;
}

.backlinks {
    margin-right: 50px;
}
